#container {
  width: 1000px;
  height: 600px;
  background-color: black;
}
.highlight {
  opacity: 0.4;
  filter: alpha(opacity=40);
  border: 2px solid #0A7EbE;
  outline: 10px auto #0A7EbE;
  background-color: white;
}